html {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

.btn,
.firebaseui-idp-button,
.firebaseui-tenant-button {
	border-radius: 22px !important;
}

.logo {
	height: 32px;
	width: 32px;
	top: 4px;
	margin-right: 1px;
	position: relative;
}
